body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather',serif;
    color: #40514E;
}
h1{
    margin: 2.6rem auto 0 auto;
   font-family: 'Sacramento',cursive;
   font-size: 5.625rem;
   color: #10A19D;
  
}
a{
    color: #11999Ee;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration:none;
}

a:hover{
    color: #EAF6F6;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
p{
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #10A19D;
    font-weight: normal;
    padding: 2%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #10A19D;
}
.skillimage1{
    width: 25%;
    float: left;
    margin-right: 2rem;
}
.skillimage2{
    width: 25%;
    float: right;
    margin-left: 2rem;
   
}
.topcloud{
    position: relative;
    left: 25%;
    padding-top: 5%;
}

.bottomcloud{
    position: absolute;
    left: 15%;
}
.top-container{
    background-color: #E4F9F5;
}

.middle-container{
    background-color: #F7FBFC;
    padding: 100px 0;
}

.bottom-container{
   background-color: #66BFBF;
   padding: 50px 0 20px;
}
.skill-row{
    width: 50%;
    margin:10% auto 8% auto;
    text-align: left;
}

.dp{
    width: 15%;
}

.skills{
    margin-bottom: 100px;

}


.intro{
    width: 30%;
    margin: auto;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

  .contact  {
    width: 40%;
    margin: 40px auto 60px ;
  }

  .copyright{
    color: #eaf6f6;
    font-size: 0.8rem;
    padding :20px;
  }

  .second-skill{
    margin-top: 150px;
  }